<h1>Les Personnages de Game of Thrones</h1>
<div class="characters-wrapper">
    @for (character of charactersFromParent; track character.id) {
        <div class="character-card">
            <h2>{{ character.fullName }}</h2>
            <p>First Name : {{ character.firstName }}</p>
            <p>Last Name : {{ character.lastName }}</p>
            <p>Title : {{ character.title }}</p>
            <p>Family : {{ character.family }}</p>
            <p><img src="{{ character.imageUrl }}" alt="{{ character.fullName }}" /></p>
        </div>
    } @empty {
        <p>Aucun personnage trouvé.</p>
    }
</div>

<!-- {{ variableFromParent }} -->
 