@import '../../../styles.scss';

.characters-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
  width:100%;
  justify-content: start;
}

.character-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
}

.character-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(212, 175, 55, 0.5);
}

.character-card h3 {
  font-family: 'Cinzel', serif;
  color: #d4af37;
  font-size: 1.5rem;
  margin: 15px 0 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(212, 175, 55, 0.3);
  display: inline-block;
  text-shadow: 0 0 4px rgba(212, 175, 55, 0.5);
  text-transform: uppercase;
}

.character-card p {
   margin: 5px 0;
   font-size: 0.9rem;
   color: #f5f5f5;
 }

.character-card p.character-title {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #e6e6e6;
  font-style: italic;
  opacity: 0.9;

  position: relative;
  padding-left: 16px;
}

.character-card p.character-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;

  background: linear-gradient(
    to right,
    #d4af37,
    #f6e27b
  );
  border-radius: 2px;
}

// .character-card img {
//   width: 100%;
//   height: auto;
//   border-radius: 8px;
//   margin-top: 10px;
//   object-fit: cover;
// }

.character-card img {
  width: 100%;
  height: 250px;       
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

.fullName {
    height: 40px;
    text-align: center;
    overflow: hidden;
}

