<h2>Les Personnages de Game of Thrones</h2>
<div class="characters-wrapper">
    @for (character of charactersFromParent; track character.id) {
        <div class="character-card">
            <h3>{{ character.fullName }}</h3>          
            <p class="character-title">{{ character.title }}</p>
            <p><img [src]="character.imageUrl" [alt]="character.fullName" /></p>
        </div>
    } @empty {
        <p>Aucun personnage trouvé.</p>
    }
</div>

<!-- {{ variableFromParent }} -->
 